.estimate-wrapper {
  margin-left: auto;
  margin-right: auto;

  .save-button {
    width: 21cm;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    margin-bottom: 40px;
    button {
      text-decoration: none;
      color: white;
      background-color: rgb(55, 152, 182);
      padding: 5px 10px;
      border: 1.5px solid rgb(59, 94, 105);
      border-radius: 5px;
      font-size: 0.8rem;
    }
  }

  .document {
    font-size: 0.85rem;
    width: 21cm;
    min-height: 29.7cm;
    margin-left: auto;
    margin-right: auto;

    &.estimate-modal {
      font-size: 0.75rem;
      width: 18cm;
      min-height: 27cm;
      padding: 1.2rem 1.5rem;
    }

    .header {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid black;

      .name {
        font-weight: bold;
        font-size: 1.1rem;
      }

      .number {
        font-size: 0.8rem;
      }

      .date {
        span {
          margin-left: 50px;
        }
      }
    }

    .inform {
      border-bottom: 1px solid black;
      .logo {
        text-align: right;
      }

      .text {
        display: flex;
        justify-content: space-between;
        line-height: 1.5rem;
        margin: 0 25px;

        .left {
          font-size: 1rem;
          line-height: 1.9rem;

          .to {
            font-weight: bold;
          }

          .attn {
            span {
              font-weight: bold;
            }

            div {
              margin-left: 45px;
            }
          }
        }
        .right {
          text-align: center;

          .tel {
            margin-top: 13px;
          }
          .fax {
            margin-top: 6px;
            margin-bottom: 3px;
          }
        }
      }
    }

    .content {
      .first {
        display: flex;
        justify-content: space-between;
        line-height: 6rem;

        .left {
          color: red;
          font-weight: bold;
        }
      }

      .list {
        min-height: 300px;
        table {
          width: 100%;
          text-align: center;
          border-collapse: collapse;

          .thead-tr {
            border-top: 1px double black;
            border-bottom: 1px double black;
          }

          td.no {
            width: 40px;
          }

          .text-left {
            text-align: left;
          }

          .product-name {
            text-decoration: underline;
            color: rgb(100, 134, 167);
            font-weight: bold;
          }

          .product-amount {
            color: red;
            font-weight: bold;
          }
        }

        .list-add-btn {
          margin-top: 30px;
          text-align: center;
          button {
            font-weight: 400;
            font-weight: bolder;
            color: rgb(59, 59, 59);
            background-color: #e0e0e0;
            padding: 5px 10px;
            border: 1px solid #d9d9d9;
            border-radius: 3px;
            font-size: 0.7rem;
          }
        }
      }

      .remark {
        border-top: 2px solid black;
        min-height: 130px;

        .title {
          margin-top: 3px;
          font-weight: bold;
        }

        .content {
          color: red;
        }
      }

      .total {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 3px 0;
        display: flex;
        justify-content: space-between;

        .total-count {
          span {
            margin-left: 80px;
          }
        }
      }

      .footer {
        margin-top: 3px;
        line-height: 1.6rem;

        .signiture {
          margin-top: 10px;
          text-align: right;

          table {
            display: inline-table;
            border-collapse: collapse;
            text-align: center;
            width: 450px;
            td {
              border: 1px solid black;

              &.sign {
                height: 35px;

                img {
                  width: 70px;
                }
              }
            }
          }
        }

        .last {
          margin-top: 10px;
          text-align: center;
        }
      }
    }

    .indent-left {
      margin: 0 0 0 25px;
    }

    .indent-right {
      margin: 0 25px 0 0;
    }
  }
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap');

.add-estimate {
  font-family: 'Noto Serif KR', LIGHT300;
  color: rgb(39, 39, 39);
  background: rgb(255, 255, 255);
  padding: 0.5rem 0.7rem;
  font-size: 0.85rem;
  line-height: 1.8;
}

.add-estimate-title {
  font-family: 'Noto Serif KR', LIGHT300;
  color: rgb(39, 39, 39);
  font-size: 1.2rem;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Serif+KR:wght@300&display=swap');

.button-submit {
  font-family: 'Nanum Gothic', Regular400;
  color: rgb(255, 255, 255);
  background: rgb(48, 48, 48);
  padding: 0.15rem 0.75rem;
  border: 1px solid rgb(59, 59, 59);
  border-radius: 0.25rem;
  font-size: 0.85rem;
  line-height: 1.5;
}

.button-cancel {
  font-family: 'Nanum Gothic', Regular400;
  color: rgb(39, 39, 39);
  background: rgb(255, 255, 255);
  padding: 0.15rem 0.75rem;
  border: 1px solid rgb(59, 59, 59);
  border-radius: 0.25rem;
  font-size: 0.85rem;
  line-height: 1.5;
}

.pro_input {
  font-family: 'Nanum Gothic', Regular400;
  color: rgb(39, 39, 39);
}

.pro2_input {
  font-family: 'Nanum Gothic', Regular400;
  color: rgb(39, 39, 39);
}

.deg_input {
  font-family: 'Nanum Gothic', Regular400;
  color: rgb(39, 39, 39);
}

.num_input {
  font-family: 'Nanum Gothic', Regular400;
  color: rgb(39, 39, 39);
}

.pop_input {
  font-family: 'Nanum Gothic', Regular400;
  color: rgb(39, 39, 39);
}

.pip_input {
  font-family: 'Nanum Gothic', Regular400;
  color: rgb(39, 39, 39);
}

.sublist {
  button {
    font-family: 'Nanum Gothic', Regular400;
  }
}

.estimate-table {
  table {
    border: 1px solid #444444;
    border-collapse: collapse;
  }

  td,
  th {
    border: 1px solid #444444;
  }
}

.estimate-list {
  .list-data {
    text-align: center;

    table {
      border: 1px solid #444444;
      border-collapse: collapse;
      display: inline-table;
    }

    td,
    th {
      border: 1px solid #444444;
    }
  }
}
