.main {
  padding: 25px;

  .utill {
    text-align: right;
    a {
      text-decoration: none;
      color: rgb(59, 59, 59);
      background-color: #e0e0e0;
      padding: 5px 10px;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      font-size: 0.7rem;
    }
  }

  .header {
    margin-bottom: 25px;
  }

  .url {}
  .url a {
    position: relative;
    padding-bottom: 3px;
  }
  .url a:before {
    content: '';
    position: absolute;
    background-color: rgb(55, 152, 182);
    height: 1.5px;
    width: 0;
    bottom: 0;
    transition: 0.3s;
    left: 50%;
    transform: translateX(-50%);
  }
  .url a:hover:before {
    width: 100%;
  }

  &.admin {
    .account-wrapper {
      margin-left: auto;
      margin-right: auto;
      width: 70%;

      .account {
        border-bottom: 1px solid #d9d9d9;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: 0.9rem;

        .account-id,
        .account-master {
          margin-left: 25px;
        }
        button {
          width: 80px;
          margin-left: auto;
        }
      }
    }
  }
}
.utill2 {
  text-align: right;
  margin-top: -1.5rem;
  margin-bottom: 0.7rem;
  button {
    background-color: rgb(55, 152, 182);
    color: white;
    width: 60px;
    padding: 5px 10px;
    border: 1px solid rgb(55, 152, 182);
    border-radius: 4px;
    font-size: 0.8rem;
  }
}

div.sublist {
  margin-bottom: 25px;
  border-bottom: 1px solid #d9d9d9;
  button {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-bottom: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    &:first-of-type {
      border-radius: 10px 0 0 0;
    }

    &:last-of-type {
      border-radius: 0 10px 0 0;
    }

    &.selected {
      background-color: rgb(55, 152, 182);
      color: white;
    }
  }
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Serif+KR:wght@300&display=swap');

.website {
  font-size: 0.7rem;
  font-family: 'Nanum Gothic', Regular400;
  color: rgb(55, 152, 182);
}
.website a {
  font-size: 0.7rem;
  font-family: 'Nanum Gothic', Regular400;
  color: rgb(55, 152, 182);
  transition: 0.5s;
  button {
    text-decoration: none;
    color: rgb(55, 152, 182);
    background-color: #ffffff;
    width: 60px;
    padding: 5px 10px;
    border: 1px solid rgb(55, 152, 182);
    border-radius: 4px;
    font-size: 0.7rem;
  }
}
.website:hover a{
  opacity: 0.3;
}
.website a:hover {
  opacity: 1;
  button {
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(55, 152, 182);
    width: 60px;
    padding: 5px 10px;
    border: 1px solid rgb(55, 152, 182);
    border-radius: 4px;
    font-size: 0.7rem;
  }
}
